.light {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    opacity: 0.2;
    margin: 10px;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.active {
    opacity: 1;
}