li {
    color: red;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
}
.image {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0301%2F0065%2Ffiles%2Ffall_background_image_landscape_tree_lake_mountain_scene_web_2048x2048.jpg%3F16615717205281063826&f=1&nofb=1);
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.pattern {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.3rYsVlNJTbxEdxU6TDHwggHaFC%26pid%3DApi&f=1);

}
