/* custom css code */
@media(min-width:576px) {
    #container {
        max-width: 50%;
    }
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgba(0, 119, 255, 0.247);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#container-form {
    max-width: 50%;
}

