extends ../layouts/common

block content
    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/login" method="POST")
        input(type="text" name="account" placeholder="Your account" value=input ? input.account : "") 
        input(type="text" name="password" placeholder="Enter password")
        button login